<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title BANQUETES “La langosta ahumada”
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO SEIS
	h2 #Banquetes “La langosta ahumada”
	.operacion
		br			
		input#num_one(type="text" placeholder='Cantidad de personas' class='btn btn-warning')
		br
		br
		button(type='button' onclick="presupuesto()") Presupuesto
		br
		br			
		input#num_two(type="text" placeholder='Precio' class='btn btn-warning')
	script(type="text/javascript" src="main.js")
		