<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title COMPAÑIA DE AUTOBUSES
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO OCHO
	h2 #Una compañía de viajes
	.operacion
		br			
		input#num_one(type="text" placeholder='Ingresa e tipo de bus' class='btn btn-warning')
		button(disabled) x
		input#num_two(type="text" placeholder='Ingresa el número de pasajeros' class='btn btn-warning')
		button(type='button' onclick="costoTotal()") =
		input#resultado(type="text" placeholder='costo Total' class='btn btn-danger' disabled)
	script(type="text/javascript" src="main.js")
		
