<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title ¿CUÁL ES EL NÚMERO MAS GRANDE?
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO DOS
	h2 #El número mas grande
	.operacion
		br			
		input#num_one(type="text" placeholder='Primer número' class='btn btn-warning')
		button(disabled) o
		input#num_two(type="text" placeholder='Segundo número' class='btn btn-warning')
		br
		br
		button(type='button' onclick="mayor()") ¿Quien es mayor?

	script(type="text/javascript" src="main.js")
		
