<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Almacenes “El harapiento distinguido”
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO CUATRO
	h2 #Almacenes “El harapiento distinguido”
	.operacion
		br			
		input#num_one(type="text" placeholder='¿Cúal es el precio del traje?' class='btn btn-warning')
		br
		br
		button(type='button' onclick="pagar()") Factura de compra
		br
		br
		input#num_two(type="text" placeholder='Descuento' class='btn btn-success' disabled)
		input#num_three(type="text" placeholder='Precio a pagar' class='btn btn-success' disabled)
	script(type="text/javascript" src="main.js")
		
