<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title POSITIVO O NEGATIVO
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO TRES
	h2 #Positivo o negativo
	.operacion
		br			
		input#num_one(type="text" placeholder='Ingresa el número' class='btn btn-warning')
		br
		br
		button(type='button' onclick="clasificar()") ¿Este número es par o impar?
	script(type="text/javascript" src="main.js")
		
